<nav class="navbar navbar-expand-sm navbar-light fixed-top" >
  <div class="container-fluid">
    <%= link_to "sentence note(仮)", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: 'nav-link' do %> 
              <i class="fas fa-user-circle"></i>
              <span class="mr-1">マイページ</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link' do %> 
              <i class="fas fa-book-open"></i>
              <span class="mr-1">一覧</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "nav-link" do %>
              <i class="fas fa-edit"></i>
              <span class="mr-1">ノート作成</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } , class: 'nav-link' do %> 
              <i class="fas fa-sign-out-alt"></i>
              <span class="mr-1">ログアウト</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %> 
            <i class="fas fa-id-card"></i>
            <span class="mr-1">アカウント登録</span>
          <% end %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %> 
              <i class="fas fa-sign-in-alt"></i>
              <span class="mr-1">ログイン</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: 'nav-link' do %> 
              <i class="fas fa-user"></i>
              <span class="mr-1">ゲストログイン</span>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</nav>