<!DOCTYPE html>
<html>
  <head>
    <title>SentenceNoteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="header">
    <nav class="nav">
      <ul class="header_menu">
        <li class="header_menu_title"><%= link_to "(title)", root_path, class:"nav-link" %></li>
        <li>
          <ul class="header_menu_inner">
            <li>
              <%= link_to "#", class:"nav-link" do %>
                <span class="mr-1">ゲストログイン</span>
                <i class="fas fa-edit"></i>
              <% end %>
            </li>
            <li><%= link_to "新規登録", "#", class: "nav_link" %></li>
            <li><%= link_to "ログイン", "#", class: "nav_link" %></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
